* {
    margin: 0;
}
body{
    height: 100vh;
    background: url('/images/race2.jpeg') no-repeat top center/cover;
    font-family: "geist", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 150px;
    width: 300px;
    background-color: bisque;
    padding: 30px 50px 30px 50px;
    border-radius: 15px;
    text-align: center;
}

#title-heading{
    font-size: 20px;
    padding-bottom: 20px;
}

#timer{
    display: flex;
    justify-content: center;
    font-size: 45px;
    padding-bottom: 20px;
    font-weight: 400;
    font-family: 'Courier New', 'Consolas', 'Monaco', 'Lucida Console', monospace;
}

/*.time-segment{
    display: inline-block;
    width: 55px;
    text-align: center;
    overflow: hidden;
}*/

button{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    padding: 5px;
    color: beige;
    cursor: pointer;
    margin-right: 10px;
}
button:last-child{
    margin-right: 0;
}

#startBtn{
    background-color: green;
}

#pauseBtn{
    background-color: red;
}

#resetBtn{
    background-color: blue;
}